In [68]:
import sys
import os

sys.path.append("../../")
sys.path.append("../../outboxml")

project_root = os.path.abspath(os.path.join(os.getcwd(), '../..'))
if project_root not in sys.path:
    sys.path.append(project_root)


from statistics import LinearRegression

import pandas as pd
import numpy as np

from outboxml.automl_manager import AutoMLManager
from outboxml.core.email import AutoMLReviewEMail
from outboxml.extractors import Extractor
from outboxml.metrics.base_metrics import BaseMetric

from outboxml.metrics.business_metrics import BaseCompareBusinessMetric
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_poisson_deviance, mean_absolute_error, root_mean_squared_error
from sqlalchemy import create_engine

import config

In [35]:
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [13]:
description = pd.read_excel('Descriptive of the variables.xlsx')

In [19]:
description_dict = dict(zip(description['Variables'], description['Description']))

In [20]:
description_dict

{'ID': 'Internal identification number assigned to each annual contract formalized by an insured. Each policyholder can have multiple rows in the dataset, representing different annuities of the product.',
 'Date_start _contract': "Start date of the policyholder's contract (DD/MM/YYYY).",
 'Date_last_renewal': 'Date of last contract renewal (DD/MM/YYYY).',
 'Date_next_renewal': 'Date of the next contract renewal (DD/MM/YYYY).',
 'Distribution_channel': 'Classifies the channel through which the policy was contracted. 0 for Agent and 1 for Insurance brokers.',
 'Date_birth': 'Date of birth of the insured declared in the policy (DD/MM/YYYY).',
 'Date_driving_licence': "Date of issuance of the insured person's driver's license (DD/MM/YYYY).",
 'Seniority': 'Total number of years that the insured has been associated with the insurance entity, indicating their level of seniority.',
 'Policies_in_force': 'Total number of policies held by the insured in the insurance entity during the reference period.',
 'Max_policies': 'Maximum number of policies that the insured has ever had in force with the insurance entity.',
 'Max_products': 'Maximum number of products that the insured has simultaneously held at any given point in time.',
 'Lapse': 'Number of policies that the customer has cancelled or has been cancelled for nonpayment in the current year of maturity, excluding those that have been replaced by another policy.',
 'Date_lapse': 'Lapse date. Date of contract termination (DD/MM/YYYY).',
 'Payment': 'Last payment method of the reference policy. 1 represents a half-yearly administrative process and 0 indicates an annual payment method.',
 'Premium': 'Net premium amount associated with the policy during the current year.',
 'Cost_claims_year': 'Total cost of claims for the insurance policy during the current year.',
 'N_claims_year': 'Total number of claims incurred for the insurance policy during the current year.',
 'N_claims_history': 'Total number of claims filed throughout the entire duration of the insurance policy.',
 'R_Claims_history': "Ratio of the number of claims filed for the specific policy to the total duration (whole years) of the policy in force. It provides an indication of the policy's claims frequency history.",
 'Type_risk': 'Type of risk associated with the policy. Each value corresponds to a specific risk type: 1 for motorbikes, 2 for vans, 3 for passenger cars and 4 for agricultural vehicles',
 'Area': 'Dichotomous variable indicates the area. 0 for rural and 1 for urban (more than 30,000 inhabitants) in terms of traffic conditions.',
 'Second_driver': '1 if there are multiple regular drivers declared, or 0 if only one driver is declared.',
 'Year_matriculation': 'Year of registration of the vehicle (YYYY).',
 'Power': 'Vehicle power measured in horsepower.',
 'Cylinder_capacity': 'Cylinder capacity of the vehicle.',
 'Value_vehicle': 'Market value of the vehicle on 31/12/2019.',
 'N_doors': 'Number of vehicle doors.',
 'Type_fuel': 'Specific kind of energy source used to power a vehicle. Petrol (P) or Diesel (D).',
 'Length': 'Length, in meters, of the vehicle.',
 'Weight': 'Weight, in kilograms, of the vehicle.'}

In [ ]:
{'ID': 'Внутренний идентификационный номер, присваиваемый каждому годовому договору, оформленному страхователем. Для каждого страхователя может быть несколько строк в наборе данных, представляющих различные аннуитеты продукта.',
'Date_start_contract': 'Дата начала договора страхователя (ДД/ММ/ГГГГ).',
'Date_last_renewal': 'Дата последнего продления договора (ДД/ММ/ГГГГ).',
'Date_next_renewal': 'Дата следующего продления договора (ДД/ММ/ГГГГ).',
'Distribution_channel': 'Классифицирует канал, через который был заключен договор страхования. 0 для агента и 1 для страхового брокера.

'Date_birth': «Дата рождения страхователя, указанная в полисе (ДД/ММ/ГГГГ)».

'Date_driving_licence': «Дата выдачи водительского удостоверения страхователю (ДД/ММ/ГГГГ)».

'Seniority': «Общее количество лет, в течение которых страхователь связан со страховой организацией, с указанием уровня стажа».

'Policies_in_forced': «Общее количество полисов, выданных страхователю в страховой организации за отчетный период».

'Max_policies': «Максимальное количество полисов, которые страхователь когда-либо имел в страховой организации».

'Max_products': «Максимальное количество продуктов, которые страхователь одновременно выдавал страхователю в любой момент времени».

«Просрочка»: «Количество полисов, которые клиент расторгнул или расторгнул из-за неуплаты в текущем году наступления срока действия полиса, за исключением полисов, которые были заменены другим полисом».
«Дата_просрочки»: «Дата расторжения договора (ДД/ММ/ГГГГ)».

«Оплата»: «Последний способ оплаты по данному полису». 1 обозначает полугодовой административный процесс, а 0 — ежегодный способ оплаты.

«Премия»: «Сумма чистой премии по полису в текущем году».

«Стоимость_премий_год»: «Общая стоимость страховых случаев по страховому полису в текущем году».

«N_премий_год»: «Общее количество страховых случаев по страховому полису в текущем году».

«N_премий_история»: «Общее количество страховых случаев, поданных за весь срок действия страхового полиса».

«R_премий_история»: «Отношение количества страховых случаев, поданных по конкретному полису, к общей продолжительности действия полиса (количество лет). Это отражает динамику частоты страховых случаев по полису».

«Тип_риска»: «Тип риска, связанного с полисом. Каждое значение соответствует определённому типу риска: 1 — для мотоциклов, 2 — для фургонов, 3 — для легковых автомобилей и 4 — для сельскохозяйственной техники.

«Площадь»: «Дихотомическая переменная указывает на площадь». 0 для сельской местности и 1 для городской (более 30 000 жителей) с точки зрения условий дорожного движения.

'Second_driver': '1, если заявлено несколько постоянных водителей, или 0, если заявлен только один водитель.',
'Year_matriculation': 'Год регистрации транспортного средства (ГГГГ).',
'Power': 'Мощность транспортного средства, измеряемая в лошадиных силах.',
'Cylinder_capacity': 'Объём двигателя транспортного средства.',
'Value_vehicle': 'Рыночная стоимость транспортного средства на 31.12.2019.',
'N_doors': 'Количество дверей транспортного средства.',
'Type_fuel': 'Вид топлива, используемый для питания транспортного средства.', Бензин (P) или Дизель (D).

«Длина»: «Длина автомобиля в метрах».

«Вес»: «Вес автомобиля в килограммах».}

In [23]:
claim = pd.read_csv('sample type claim.csv', delimiter=';')

In [31]:
claim = claim.drop_duplicates('ID')[['ID', 'Cost_claims_year']]

In [32]:
claim[:10]

     ID  Cost_claims_year
0    28            332.02
1    36             57.35
2    42             57.50
3    60            138.90
5    77           1574.93
6    78            257.36
7    95            471.66
9    96             56.39
10  103             67.25
11  110            305.46

In [53]:
df = pd.read_csv('Motor vehicle insurance data.csv', delimiter=';')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105555 entries, 0 to 105554
Data columns (total 30 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   ID                    105555 non-null  int64
 1   Date_start_contract   105555 non-null  object
 2   Date_last_renewal     105555 non-null  object
 3   Date_next_renewal     105555 non-null  object
 4   Date_birth            105555 non-null  object
 5   Date_driving_licence  105555 non-null  object
 6   Distribution_channel  105555 non-null  int64
 7   Seniority             105555 non-null  int64
 8   Policies_in_force     105555 non-null  int64
 9   Max_policies          105555 non-null  int64
 10  Max_products          105555 non-null  int64
 11  Lapse                 105555 non-null  int64
 12  Date_lapse            35147 non-null   object
 13  Payment               105555 non-null  int64
 14  Premium               105555 non-null  float64
 15  Cost_claims_year      105555 non-null  float64
 16  N_claims_year         105555 non-null  int64
 17  N_claims_history      105555 non-null  int64
 18  R_Claims_history      105555 non-null  float64
 19  Type_risk             105555 non-null  int64
 20  Area                  105555 non-null  int64
 21  Second_driver         105555 non-null  int64
 22  Year_matriculation    105555 non-null  int64
 23  Power                 105555 non-null  int64
 24  Cylinder_capacity     105555 non-null  int64
 25  Value_vehicle         105555 non-null  float64
 26  N_doors               105555 non-null  int64
 27  Type_fuel             103791 non-null  object
 28  Length                95226 non-null   float64
 29  Weight                105555 non-null  int64
dtypes: float64(5), int64(18), object(7)
memory usage: 24.2+ MB

In [55]:
date_columns = [
    'Date_start_contract',
    'Date_last_renewal',
    'Date_next_renewal',
    'Date_birth',
    'Date_driving_licence',
    'Date_lapse'
]

for col in date_columns:
    df[col] = pd.to_datetime(df[col], format='%d/%m/%Y', errors='coerce')

In [56]:
print(df.isnull().sum())

ID                          0
Date_start_contract         0
Date_last_renewal           0
Date_next_renewal           0
Date_birth                  0
Date_driving_licence        0
Distribution_channel        0
Seniority                   0
Policies_in_force           0
Max_policies                0
Max_products                0
Lapse                       0
Date_lapse              70408
Payment                     0
Premium                     0
Cost_claims_year            0
N_claims_year               0
N_claims_history            0
R_Claims_history            0
Type_risk                   0
Area                        0
Second_driver               0
Year_matriculation          0
Power                       0
Cylinder_capacity           0
Value_vehicle               0
N_doors                     0
Type_fuel                1764
Length                  10329
Weight                      0
dtype: int64

In [57]:
# Возраст страхователя на момент последнего продления
df['Age'] = (df['Date_last_renewal'] - df['Date_birth']).dt.days / 365.25
df['Age'] = df['Age'].round(1)

# Стаж вождения
df['Driving_experience'] = (df['Date_last_renewal'] - df['Date_driving_licence']).dt.days / 365.25
df['Driving_experience'] = df['Driving_experience'].round(1)

# Возраст автомобиля
df['Vehicle_age'] = df['Date_last_renewal'].dt.year - df['Year_matriculation']

# До следующего продления (в днях)
df['Days_to_renewal'] = (df['Date_next_renewal'] - df['Date_last_renewal']).dt.days

# Бинарный признак: был ли страховой случай
df['Had_claim'] = (df['N_claims_year'] > 0).astype(int)

# Отношение выплат к премии (индикатор убыточности)
df['Claim_to_premium_ratio'] = df['Cost_claims_year'] / (df['Premium'] + 1)  # +1 чтобы избежать деления на 0

In [58]:
# Проверим, что даты логичны
invalid_dates = df[
    (df['Date_start_contract'] > df['Date_last_renewal']) |
    (df['Date_last_renewal'] > df['Date_next_renewal']) |
    (df['Date_birth'] > df['Date_start_contract'])
]

if len(invalid_dates) > 0:
    print("Найдены некорректные даты:")
    print(invalid_dates[['ID', 'Date_birth', 'Date_start_contract', 'Date_last_renewal']])

Найдены некорректные даты:
           ID Date_birth Date_start_contract Date_last_renewal
1729      861 1970-12-29          2018-01-16        2018-01-15
3625     1834 1942-05-26          2018-01-16        2018-01-09
5126     2528 1966-07-28          2018-01-16        2018-01-15
8153     3993 1959-09-19          2018-09-03        2018-07-03
8527     4186 1965-09-30          2018-07-23        2018-05-23
8876     4366 1992-02-25          2018-04-05        2018-02-05
9126     4492 1971-07-11          2018-11-12        2018-09-12
9434     4648 1972-11-09          2018-05-01        2018-03-01
9746     4802 1974-01-15          2018-11-05        2018-07-01
9838     4852 1976-01-28          2018-05-07        2018-03-07
10413    5134 1979-01-19          2018-11-12        2018-09-12
10878    5373 1989-05-16          2017-09-14        2017-01-12
11256    5576 1992-03-20          2018-07-09        2018-06-01
12029    5967 1943-04-01          2017-10-24        2017-08-04
12192    6049 1950-04-07          2018-04-27        2018-02-27
12425    6156 1954-05-28          2018-09-26        2018-08-26
12440    6164 1955-01-22          2018-08-20        2018-04-01
13367    6618 1968-06-15          2018-10-24        2018-01-07
14411    7149 1991-04-06          2016-07-17        2016-02-25
18266    8987 1984-10-21          2017-10-31        2017-06-13
18417    9059 1981-06-07          2018-01-16        2018-01-15
18986    9384 1970-10-25          2018-06-17        2018-04-17
19132    9472 1990-06-28          2017-10-19        2017-01-05
25760   12638 1956-08-03          2017-12-28        2017-09-26
30518   14851 1984-04-22          2018-08-01        2018-03-01
30747   14959 1988-12-31          2016-12-28        2016-04-25
30865   15015 1986-05-24          2016-06-14        2016-06-04
32281   15696 1948-11-15          2018-09-18        2018-02-20
35590   17239 1966-06-01          2016-10-08        2016-04-18
36947   17874 1951-08-16          2018-01-17        2018-01-10
41604   20170 1970-06-09          2018-01-17        2018-01-16
46346   22632 1967-02-19          2018-01-16        2018-01-15
47578   23302 1961-10-31          2017-08-01        2017-07-01
48792   23932 1972-04-03          2016-07-29        2016-01-18
50357   24829 1988-11-28          2018-01-16        2018-01-15
52060   25731 1970-03-21          2017-10-27        2017-06-11
52541   25966 1967-09-16          2018-01-17        2018-01-16
52710   26052 1971-11-07          2016-10-08        2016-10-05
53990   26681 1945-05-14          2016-12-15        2016-08-10
56010   27786 1969-05-15          2018-11-16        2018-01-01
56011   27787 1969-05-15          2018-11-19        2018-01-01
56012   27788 1969-05-15          2018-11-30        2018-01-01
57122   28344 1973-12-19          2018-01-17        2018-01-16
57827   28715 1964-08-23          2018-01-16        2018-01-10
58403   29022 1984-02-14          2018-01-17        2018-01-16
59303   29477 1975-02-12          2018-01-17        2018-01-15
64083   31866 1983-10-04          2017-12-13        2017-08-06
65782   32710 1980-12-13          2016-10-21        2016-02-04
66689   33172 1981-07-16          2018-01-16        2018-01-10
69357   34604 1993-04-09          2018-01-17        2018-01-12
70854   35463 1966-06-07          2018-01-17        2018-01-16
73261   36683 1974-10-25          2016-05-06        2016-03-30
73942   37016 1975-07-23          2016-07-25        2016-05-03
76761   38484 1987-12-06          2016-11-30        2016-02-10
76910   38561 1988-02-27          2017-05-09        2017-01-31
78914   39625 1968-10-13          2017-08-11        2017-06-11
79611   39987 1956-06-26          2018-01-16        2018-01-15
79756   40057 1991-07-22          2018-09-12        2018-08-20
83078   41653 1983-02-07          2018-01-17        2018-01-12
83199   41715 1982-12-11          2017-12-19        2017-06-18
88899   44437 1962-06-04          2017-05-16        2017-02-05
89401   44680 1991-11-12          2018-09-25        2018-05-25
93767   47047 1967-02-01          2017-09-14        2017-05-29
95214   47789 1955-08-05          2018-04-22        2018-02-22
102006  51456 1993-01-10          2016-04-15        2016-03-11
102555  51764 1983-08-19          2018-03-10        2018-01-10
102624  51805 1986-08-23          2018-05-20        2018-03-20
105391  53383 1978-07-14          2017-12-14        2017-02-21

In [59]:
duplicates = df.duplicated().sum()
print(f"Полных дубликатов: {duplicates}")

Полных дубликатов: 0

In [60]:
df[(df['Driving_experience'] < 0)]

,ID,Date_start_contract,Date_last_renewal,Date_next_renewal,Date_birth,Date_driving_licence,Distribution_channel,Seniority,Policies_in_force,Max_policies,Max_products,Lapse,Date_lapse,Payment,Premium,Cost_claims_year,N_claims_year,N_claims_history,R_Claims_history,Type_risk,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight,Age,Driving_experience,Vehicle_age,Days_to_renewal,Had_claim,Claim_to_premium_ratio
8022,3932,2012-07-11,2016-07-11,2017-07-11,1960-06-12,2018-07-25,0,7,1,1,1,0,NaT,0,163.91,0.00,0,0,0.00,1,1,0,2012,5,49,1051.45,0,P,NaN,58,56.1,-2.0,4,365,0,0.000000
8023,3932,2012-07-11,2017-07-11,2018-07-11,1960-06-12,2018-07-25,0,7,1,1,1,0,NaT,0,165.54,0.00,0,0,0.00,1,1,0,2012,5,49,1051.45,0,P,NaN,58,57.1,-1.0,5,365,0,0.000000
27244,13313,2015-12-21,2015-12-21,2016-12-21,1997-09-09,2016-10-25,1,3,1,1,1,0,NaT,0,266.39,0.00,0,0,0.00,3,1,1,2009,132,1598,22400.00,5,P,4.440,1505,18.3,-0.8,6,366,0,0.000000
27699,13522,2018-04-03,2018-04-03,2019-04-03,1999-01-22,2018-06-21,1,1,1,3,2,0,NaT,0,368.86,0.00,0,7,0.00,3,1,0,1998,102,1595,18595.00,5,P,4.458,1344,19.2,-0.2,20,365,0,0.000000
27758,13549,2017-11-15,2017-11-15,2018-11-15,1999-08-31,2017-12-04,1,3,3,3,1,0,NaT,0,567.31,227.38,1,1,0.96,3,1,0,2004,170,2171,38900.00,4,P,4.841,1485,18.2,-0.1,13,365,1,0.400099
28429,13877,2016-01-26,2016-01-26,2017-01-26,1996-02-06,2016-06-06,1,5,2,2,1,0,NaT,1,380.79,882.00,2,4,0.70,3,1,1,2004,65,1328,12143.00,5,P,3.695,990,20.0,-0.4,12,366,1,2.310171
30082,14652,2018-01-27,2018-01-27,2019-01-27,1979-07-27,2018-05-02,1,1,1,1,1,0,NaT,0,189.39,1139.12,2,2,2.38,1,1,0,2014,48,806,7999.00,0,P,NaN,228,38.5,-0.3,4,365,1,5.983087
31462,15304,2018-04-11,2018-04-11,2019-04-11,1990-10-08,2018-09-28,1,1,1,1,1,0,NaT,0,221.54,0.00,0,0,0.00,1,0,0,2008,80,696,8490.00,0,P,NaN,161,27.5,-0.5,10,365,0,0.000000
31734,15450,2017-09-30,2017-09-30,2018-09-30,1998-05-01,2017-11-14,1,2,2,2,1,0,NaT,1,689.96,1306.08,5,5,4.28,3,1,0,2010,110,1995,27600.00,5,D,4.239,1320,19.4,-0.1,7,365,1,1.890240
32417,15759,2018-03-08,2018-03-08,2019-03-08,1997-09-17,2018-10-10,0,36,2,2,1,0,NaT,0,249.93,0.00,0,5,0.00,3,1,0,2001,100,1766,10631.90,3,P,4.355,1030,20.5,-0.6,17,365,0,0.000000
33574,16317,2014-12-20,2015-12-20,2016-12-20,1995-02-25,2016-12-14,0,4,1,1,1,0,NaT,0,306.09,0.00,0,0,0.00,3,1,0,2011,110,1560,23452.11,5,D,4.590,1455,20.8,-1.0,4,366,0,0.000000
42047,20394,2015-11-05,2015-11-05,2016-11-05,1997-07-26,2018-02-01,0,10,2,2,1,0,NaT,1,316.65,0.00,0,1,0.00,3,0,0,2003,75,1968,31610.00,4,P,4.586,1430,18.3,-2.2,12,366,0,0.000000
42048,20394,2015-11-05,2016-11-05,2017-11-05,1997-07-26,2018-02-01,0,10,2,2,1,0,NaT,1,318.05,0.00,0,1,0.00,3,0,0,2003,75,1968,31610.00,4,P,4.586,1430,19.3,-1.2,13,365,0,0.000000
42049,20394,2015-11-05,2017-11-05,2018-11-05,1997-07-26,2018-02-01,0,10,2,2,1,0,NaT,1,485.68,0.00,0,1,0.00,3,0,0,2003,75,1968,31610.00,4,P,4.586,1430,20.3,-0.2,14,365,0,0.000000
51418,25410,2017-08-24,2017-08-24,2018-08-24,1998-09-30,2018-07-05,0,2,1,1,1,0,NaT,0,239.48,352.72,1,1,0.79,3,0,0,2004,100,1896,14286.00,5,D,3.953,1165,18.9,-0.9,13,365,1,1.466733
53356,26348,2017-04-06,2017-04-06,2018-04-06,1990-06-27,2017-05-04,1,2,1,1,1,0,NaT,0,249.55,0.00,0,0,0.00,1,0,0,2016,113,806,8450.00,0,P,NaN,226,26.8,-0.1,1,365,0,0.000000
56251,27901,2016-10-10,2016-10-10,2017-10-10,1996-02-16,2016-12-14,0,2,2,2,1,1,2018-04-10,0,219.47,0.00,0,2,0.00,1,1,0,2002,5,49,1307.00,0,P,NaN,83,20.6,-0.2,14,365,0,0.000000
56253,27902,2016-11-03,2016-11-03,2017-11-03,1996-02-16,2016-12-14,0,2,2,2,1,1,2017-01-17,0,164.07,0.00,0,2,0.00,1,1,0,2002,5,49,1096.85,0,P,NaN,55,20.7,-0.1,14,365,0,0.000000
65220,32442,2017-07-10,2017-07-10,2018-07-10,1999-06-13,2017-09-29,0,8,2,2,1,0,NaT,0,810.61,882.00,1,2,0.72,3,1,0,2005,120,1998,23800.00,5,D,4.680,1435,18.1,-0.2,12,365,1,1.086729
68721,34234,2017-07-07,2017-07-07,2018-07-07,1988-01-12,2018-02-23,0,10,2,2,1,0,NaT,0,129.56,0.00,0,4,0.00,1,1,0,2017,44,373,4990.00,0,P,NaN,163,29.5,-0.6,0,365,0,0.000000
74045,37073,2015-12-21,2015-12-21,2016-12-21,1997-07-05,2016-02-12,0,3,1,1,1,0,NaT,1,268.25,568.42,1,5,1.70,3,1,0,2000,60,1390,10036.90,5,P,3.743,985,18.5,-0.1,15,366,1,2.111123
83331,41775,2012-03-29,2016-03-29,2017-03-29,1981-09-20,2017-03-10,0,15,1,2,1,0,NaT,0,235.65,0.00,0,1,0.00,3,0,0,2007,105,1896,19500.00,5,D,4.282,1405,34.5,-0.9,9,365,0,0.000000
84691,42436,2017-06-18,2017-06-18,2018-06-18,1997-10-05,2017-12-13,1,2,1,1,1,0,NaT,0,198.14,0.00,0,0,0.00,1,1,0,2008,78,599,7869.00,0,P,NaN,218,19.7,-0.5,9,365,0,0.000000
86228,43181,2016-07-01,2016-07-01,2017-07-01,1988-08-29,2017-08-29,0,17,4,5,2,0,2017-07-01,0,99.70,0.00,0,1,0.00,1,0,0,2004,0,49,1622.13,0,NaN,NaN,90,27.8,-1.2,12,365,0,0.000000
86229,43181,2016-07-01,2017-07-01,2018-07-01,1988-08-29,2017-08-29,0,17,5,5,2,1,2017-07-01,0,100.20,0.00,0,1,0.00,1,0,0,2004,0,49,1622.13,0,NaN,NaN,90,28.8,-0.2,13,365,0,0.000000
87990,43986,2014-08-04,2016-08-04,2017-08-04,1983-03-20,2016-11-11,0,13,1,2,1,0,NaT,0,501.74,80.65,1,4,0.46,3,1,0,2014,130,1598,29950.00,5,D,4.380,1440,33.4,-0.3,2,365,1,0.160421
89668,44818,2017-09-29,2017-09-29,2018-09-29,1999-06-01,2018-02-08,0,2,1,1,1,0,2018-09-29,0,350.89,0.00,0,0,0.00,3,1,0,2001,60,1149,9586.14,5,P,3.710,900,18.3,-0.4,16,365,0,0.000000
105391,53383,2017-12-14,2017-02-21,2018-02-21,1978-07-14,2017-11-23,1,1,1,1,1,0,2018-02-21,0,68.02,0.00,0,0,0.00,2,1,0,2002,71,1868,13650.00,4,D,4.108,1155,38.6,-0.8,15,365,0,0.000000

In [61]:
# Опционально: удалить исходные даты, если не нужны
cols_to_drop = ['Date_birth', 'Date_driving_licence', 'Date_last_renewal', 'Date_next_renewal']
df.drop(columns=cols_to_drop, inplace=True)

In [62]:
df

,ID,Date_start_contract,Distribution_channel,Seniority,Policies_in_force,Max_policies,Max_products,Lapse,Date_lapse,Payment,Premium,Cost_claims_year,N_claims_year,N_claims_history,R_Claims_history,Type_risk,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight,Age,Driving_experience,Vehicle_age,Days_to_renewal,Had_claim,Claim_to_premium_ratio
0,1,2015-11-05,0,4,1,2,1,0,NaT,0,222.52,0.0,0,0,0.0,1,0,0,2004,80,599,7068.00,0,P,NaN,190,59.6,39.6,11,366,0,0.0
1,1,2015-11-05,0,4,1,2,1,0,NaT,0,213.78,0.0,0,0,0.0,1,0,0,2004,80,599,7068.00,0,P,NaN,190,60.6,40.6,12,365,0,0.0
2,1,2015-11-05,0,4,2,2,1,0,NaT,0,214.84,0.0,0,0,0.0,1,0,0,2004,80,599,7068.00,0,P,NaN,190,61.6,41.6,13,365,0,0.0
3,1,2015-11-05,0,4,2,2,1,0,NaT,0,216.99,0.0,0,0,0.0,1,0,0,2004,80,599,7068.00,0,P,NaN,190,62.6,42.6,14,365,0,0.0
4,2,2017-09-26,0,4,2,2,1,0,NaT,1,213.70,0.0,0,0,0.0,1,0,0,2004,80,599,7068.00,0,P,NaN,190,61.4,41.5,13,365,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105550,53498,2018-07-30,0,1,1,1,1,0,NaT,0,263.79,0.0,0,0,0.0,3,0,0,2000,110,1997,24320.00,5,D,4.740,1480,37.0,11.5,18,365,0,0.0
105551,53499,2018-08-16,0,1,1,1,1,0,NaT,0,418.97,0.0,0,0,0.0,3,0,0,2013,129,1998,30861.97,5,P,4.650,1440,41.7,0.7,5,365,0,0.0
105552,53500,2018-11-21,0,1,1,1,1,0,NaT,1,571.91,0.0,0,0,0.0,3,0,0,1999,55,999,7800.00,5,P,3.495,830,44.6,7.1,19,365,0,0.0
105553,53501,2018-11-21,0,1,1,1,1,0,NaT,0,339.66,0.0,0,0,0.0,2,0,0,2004,90,1753,16610.00,5,D,4.555,1399,72.2,36.8,14,365,0,0.0
105554,53502,2018-10-01,1,1,1,1,1,0,NaT,0,447.12,0.0,0,0,0.0,3,0,0,2010,140,1968,33400.00,5,D,4.854,1699,45.4,27.0,8,365,0,0.0

In [69]:
def calculate_psi(col: str, current: pd.Series, reference: pd.Series, bins: int = 10, method: str = 'equal_frequency'):
    """
    Вычисляет Population Stability Index (PSI) для одного признака.

    :param col: название признака (для отчёта)
    :param current: текущая выборка (новые данные)
    :param reference: базовая выборка (эталон)
    :param bins: количество бакетов
    :param method: способ биннинга — 'equal_frequency' (дефолт) или 'equal_width'
    :return: словарь с PSI и деталями
    """
    # Удаляем NaN
    current = current.dropna()
    reference = reference.dropna()

    if len(current) == 0 or len(reference) == 0:
        raise ValueError("Одна из выборок пуста после удаления NaN.")

    # Определяем бины по reference
    if method == 'equal_width':
        _, bin_edges = np.histogram(reference, bins=bins)
    elif method == 'equal_frequency':
        bin_edges = np.quantile(reference, np.linspace(0, 1, bins + 1))
        bin_edges[0] = -np.inf
        bin_edges[-1] = np.inf
    else:
        raise ValueError("method должен быть 'equal_width' или 'equal_frequency'")

    # Бинируем обе выборки
    ref_binned = np.digitize(reference, bin_edges)
    curr_binned = np.digitize(current, bin_edges)

    # Подсчитываем доли в каждом бакете
    ref_counts = np.bincount(ref_binned, minlength=bins + 2)[1:-1]  # исключаем -inf и inf
    curr_counts = np.bincount(curr_binned, minlength=bins + 2)[1:-1]

    # Добавляем малое число, чтобы избежать log(0)
    epsilon = 1e-8
    ref_percents = (ref_counts + epsilon) / (len(reference) + epsilon * bins)
    curr_percents = (curr_counts + epsilon) / (len(current) + epsilon * bins)

    # Вычисляем PSI
    diff = curr_percents - ref_percents
    log_ratio = np.log(curr_percents / ref_percents)
    psi_values = diff * log_ratio
    psi = psi_values.sum()

    # Интерпретация
    if psi < 0.1:
        stability = "Стабильное распределение"
    elif psi < 0.25:
        stability = "Умеренное изменение (проверить)"
    else:
        stability = "Сильное изменение (требует вмешательства)"

    result = {
        'psi': round(psi, 4),
        'stability': stability,
        'bins': bins,
        'method': method,
        'bin_edges': [float('inf') if x == np.inf else float('-inf') if x == -np.inf else round(x, 4) for x in bin_edges[1:-1]],
        'reference_distribution': [round(p, 4) for p in ref_percents],
        'current_distribution': [round(p, 4) for p in curr_percents],
        'per_bucket_psi': [round(p, 4) for p in psi_values]
    }

    key = f"psi_{col}"
    return result

In [70]:
df.columns

Index(['ID', 'Date_start_contract', 'Distribution_channel', 'Seniority',
       'Policies_in_force', 'Max_policies', 'Max_products', 'Lapse',
       'Date_lapse', 'Payment', 'Premium', 'Cost_claims_year', 'N_claims_year',
       'N_claims_history', 'R_Claims_history', 'Type_risk', 'Area',
       'Second_driver', 'Year_matriculation', 'Power', 'Cylinder_capacity',
       'Value_vehicle', 'N_doors', 'Type_fuel', 'Length', 'Weight', 'Age',
       'Driving_experience', 'Vehicle_age', 'Days_to_renewal', 'Had_claim',
       'Claim_to_premium_ratio'],
      dtype='object')

In [77]:
for col in df.columns:
    try:
        print(col, calculate_psi(
        col='income',
        current=df[df['Date_start_contract'] > '2018-01-01'][col],
        reference=df[df['Date_start_contract'] < '2018-01-01'][col],
        bins=10,
        method='equal_frequency')['psi'])
    except:
        print(col)

ID 0.0186
Date_start_contract
Distribution_channel 0.0075
Seniority 2.941
Policies_in_force 0.2122
Max_policies 0.0135
Max_products 0.0
Lapse 0.1965
Date_lapse
Payment 0.0075
Premium 0.0595
Cost_claims_year 0.002
N_claims_year 0.0257
N_claims_history 0.2189
R_Claims_history 8.088
Type_risk 0.0007
Area 0.0137
Second_driver 0.0167
Year_matriculation 0.0544
Power 0.0153
Cylinder_capacity 0.007
Value_vehicle 0.0236
N_doors 0.0062
Type_fuel
Length 0.0159
Weight 0.0161
Age 0.0283
Driving_experience 0.049
Vehicle_age 0.0807
Days_to_renewal 0.0
Had_claim 0.0002
Claim_to_premium_ratio 0.0008

In [79]:
col = 'Seniority'
print(df[df['Date_start_contract'] > '2018-01-01'][col].mean())
print(df[df['Date_start_contract'] < '2018-01-01'][col].mean())

3.159229477776796
7.122988578949603

In [83]:
df = pd.merge(df, claim, on = 'ID', how='left', suffixes=('', '_new'))

In [86]:
df['Cost_claims_year_new'] = df['Cost_claims_year_new'].fillna(0)

In [89]:
(df['Cost_claims_year_new'] > 0).mean(), (df['Cost_claims_year'] > 0).mean()

(0.10124579603050543, 0.18612097958410306)

In [91]:
df[df['Cost_claims_year_new'] == df['Cost_claims_year']][df['Cost_claims_year_new'] > 0]

/tmp/ipykernel_3060/3973052715.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['Cost_claims_year_new'] == df['Cost_claims_year']][df['Cost_claims_year_new'] > 0]

,ID,Date_start_contract,Distribution_channel,Seniority,Policies_in_force,Max_policies,Max_products,Lapse,Date_lapse,Payment,Premium,Cost_claims_year,N_claims_year,N_claims_history,R_Claims_history,Type_risk,Area,Second_driver,Year_matriculation,Power,Cylinder_capacity,Value_vehicle,N_doors,Type_fuel,Length,Weight,Age,Driving_experience,Vehicle_age,Days_to_renewal,Had_claim,Claim_to_premium_ratio,Cost_claims_year_new
65,28,2015-01-24,0,4,1,1,1,0,NaT,1,322.56,332.02,1,2,0.52,3,0,0,2006,116,1995,18700.00,5,D,4.200,1290,55.0,18.7,10,366,1,1.026147,332.02
82,36,2013-02-05,1,9,1,3,1,0,2017-02-05,0,267.39,57.35,1,3,0.75,3,0,0,2005,115,1596,23900.00,5,P,4.227,1245,30.4,11.4,11,366,1,0.213682,57.35
95,42,2017-10-04,1,2,1,1,1,0,2018-10-04,0,374.24,57.50,1,1,1.00,3,0,0,2006,136,1997,23450.00,5,D,4.333,1431,59.2,39.3,11,365,1,0.153235,57.50
128,60,2015-01-13,0,3,1,1,1,0,2017-01-13,1,296.72,138.90,3,5,2.50,3,0,0,2004,75,1199,11010.00,5,P,3.817,960,60.4,42.2,12,366,1,0.466546,138.90
158,77,2015-04-07,0,3,1,1,1,0,2017-04-07,1,283.56,1574.93,1,1,0.50,3,1,0,2001,75,1360,11910.00,5,P,3.835,950,36.4,14.3,15,365,1,5.534615,1574.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105441,53413,2017-09-13,0,2,1,1,1,0,NaT,0,387.55,298.87,3,3,2.47,3,0,0,2000,70,1868,12620.00,5,D,3.822,1010,36.9,1.2,17,365,1,0.769193,298.87
105452,53419,2017-10-13,1,1,1,1,1,1,2018-04-13,1,557.77,497.47,1,1,2.01,3,0,0,2017,224,2987,61250.00,5,D,4.781,2110,40.5,22.4,0,365,1,0.890295,497.47
105483,53441,2017-11-22,0,2,1,1,1,0,NaT,0,274.22,73.32,1,1,0.98,3,0,0,1991,60,1389,11575.49,5,P,4.050,995,53.8,35.5,26,365,1,0.266405,73.32
105485,53442,2018-06-19,0,1,1,1,1,0,NaT,1,374.78,46.89,1,1,2.23,3,1,1,1999,135,1998,21239.77,5,P,4.740,1453,49.2,30.2,19,365,1,0.124780,46.89
105506,53459,2018-04-30,0,1,2,2,1,0,NaT,1,338.54,202.93,1,2,1.71,3,0,0,1999,110,1896,20043.75,5,D,4.149,1296,22.5,2.8,19,365,1,0.597662,202.93

In [92]:
df['TARGET'] = df['Cost_claims_year_new']

In [93]:
df.to_parquet('insurance.parquet')

In [ ]:
config_name = './configs/config-insurance.json'
auto_ml_config = './configs/automl-insurance.json'
path_to_data = './dumps/test_data/car_prices.parquet'